.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: antiquewhite;
}
.container{
  height:500px;
  width: 500px;
  background-color: white;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 1px 1px 7px 2px rgb(105, 50, 1);
}
.inputbox{
  width: 60%;
  height: 8%;
  margin-top:40px;
  border-radius: 3px;
  font-size: 20px;
}
.inputbox:hover{
  box-shadow: 1px 1px 3px 1px rgb(196, 124, 252);
}
.btn{
  background-color: rgb(117, 30, 205);
  color: white;
  font-size: 25px;
  padding: 5px 20px 5px 20px;
  border:none;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  box-shadow: 1px 1px 2px 1px rgb(110, 111, 111);
  background-color:rgb(74, 5, 144);
}